<h1>Search Events</h1>
<form method="GET" action="<%= events_path %>">
  <input type="date" name="date"/>
  <input type="submit"/>
</form>

 <% @events.each  do |event| %>
 Date:<%= event.date %></br>
 Alcohol:<%= event.alcohol_served %></br>
  <% @band.each do |band| %>
  <% if band.id == event.band_id %>
 Band:  <%= band.name %></br></br>
 <% end %>
 <% end %>
 Venue:<%= @venue %></br>

<% end %>
